
#bmLoginTitle::after {
	content: "Login";
}
#bmLoginHeader::after {
	content: "Login";
}
#bmLoginUser::after {
	content: "User";
}
#bmLoginPasswd::after {
	content: "Password";
}
#bmLoginButton::after {
	content: "Login";
}


#logoutButton::after {
	content: "Logout";
}


#bmMainTitle::after {
	content: "EasyBookmarks";
}

#bmMainHeader::after {
	content: "Your Easy Bookmarks";
}

#editBmHeader::after {
	content: "Bookmark";
}
#editBmTitle::after {
	content: "Bookmark";
}
.bmPlusButton::after {
	content: "+";
}

.bmAddButton::after {
	content: ">";
}

#searchButton::after {
	content: "Search";
}
#searchReset::after {
	content: "X";
}


#closeButton::after {
	content: "Close";
}
#saveButton::after {
	content: "Save";
}

#bmLevel1::after {
	content: "Level1";
}
#bmLevel2::after {
	content: "Level2";
}
#bmLevel3::after {
	content: "Level3";
}
#bmTitle::after {
	content: "Desription";
}
#bmURL::after {
	content: "URL";
}

#delConfirm::before{
	content: "Delete?";
}
